body {
    line-height: 1.467;
    font-family: Arial, Helvetica, sans-serif;
    color: #7f8c8d;
    margin: 1.5em;
    text-align: center;
	font-size: 90%;
}

/* begin currency conversion styles */
label{
	font-size: 65%;
	text-transform: uppercase;
}

input, select {
	border: 1px solid #7f8c8d;
    background: #EBEDEF;
    padding: .5em 1em;
    margin: 1em;
	width: 10em;
}

fieldset{
	border: 1px solid #7f8c8d;
 	display: inline-block;
 	width: 50%;
}

select{
	-moz-appearance: button;
    list-style: none outside none;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: .5em 1em;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
}

input:hover,
input:active,
input:focus{
	background: #34495E;
	color: white;
	border:  1px solid #34495E;
}

.select-styling{
    overflow: hidden;
}

::-webkit-input-placeholder { color:#34495E; }
::-moz-placeholder { color:#34495E; } /* firefox 19+ */
:-ms-input-placeholder { color:#34495E; } /* ie */
input:-moz-placeholder { color:#34495E; }

@media (max-width: 768px) {
	body{
		line-height: 1.2;	
	}
	
	.panel{
		font-size: 90%;
		margin-bottom: 1em;
	}
	
	fieldset{
		width: 90%;
		
	} 
	fieldset input, fieldset select{
		width: 100%;
		float: left;
		margin: 0.5em 2em 0 0;
	}
	
	#amountInput{
		padding: .5em 0 .5em 0;
		
	}
	
	label {
		float: left;
		font-size: 65%;
		margin: 2em 0 0 0;
		text-transform: uppercase;
	}
	
	#searchButton{
		margin-top: 2.5em;
	}
}

svg{
	 background: #EBEDEF;
	 margin-bottom: 1em;
}
